@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 19px;
}

.login-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/2649/1130/collections/cbddd6a9d131b5d4817d8c4e1ea492f8.jpg?v=1616308216');
    background-size: cover;
    background-position: center;
    opacity: 90%;
    z-index: -1;
}

.wrapper {
    position: relative;
    width: 450px;
    height: 520px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    margin-top: 70px;
    z-index: 1;
}

.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
  
}

.wrapper.active .form-wrapper.login {
    transform: translateY(-600px);
}

.wrapper .form-wrapper.signup {
    position: absolute;
    top: 600px;
    left: 0;
}

.wrapper.active .form-wrapper.signup {
    transform: translateY(-600px);
}

.form-wrapper h2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(75, 74, 74);
    font-size: 50px;
}

.form-wrapper p {
   color: #a7a3a3;
}

.form-wrapper p {
    padding-bottom: 10px;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: flex;
    align-items: center;
    border: 1px solid #aaa8a8;
    border-radius: 4px;
    padding: 0.5rem;
}

.input-group i {
    margin-right: 0.5rem;
}

.input-group input {
    padding-left: 20px;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: #333;
}

.input-group .img-icon {
    width: 15px;
    height: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

.input-group .img-icon-e {
    width: 15px;
    padding-left: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.options a {
    color: #505050;
    text-decoration: none;
    font-weight: bold;
}

.options a:hover {
    text-decoration: underline;
}

.options label{
    color: #505050;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.options .checkbox-btn {
    width: 12px;
    height: 12px;
    cursor: pointer;
    accent-color: #7d7d7d;
    padding-right: 10px;
}

.options .remember-txt{
    padding-left: 5px;
}

.btn {
    background-color: #2a2929;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 90%;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}

.btn:hover {
    background-color: #555454;
}

.register-link {
    margin-top: 1rem;
    font-size: 15px;
    padding-bottom: 10px;
}

.register-link a {
    color: #505050;
}

.register-link a:hover {
    text-decoration: underline;
}

.register-link p{
    padding-bottom: 5px;
}
.terms {
    margin-top: 1rem;
    font-size: 14px;
    color: #666;
}

.terms a {
    color: #6b8db3;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.reset-link {
    font-size: 0.8rem;
    padding-right: 8px;
}