.jewelry-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    margin-top: 10px;
    padding: 20px;
    color: black;
    background-color: #ffeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jewelry-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.jewelry-main img {
    height: 600px;
}

.jewelry-details {
    flex: 1;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.jewelry-details h2 {
    font-size: 50px;
}

.jewelry-current-bid {
    color: red;
    font-size: 1.2em;
}

.jewelry-details-info {
    margin-top: 20px;
}

.bid-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bid-input {
    width: 150px;
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bid-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
