.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    align-items: center;
}

.filter-button {
    margin-right: 10px;
}

.search-bar {
    margin-top: 20px;
    margin-left: 10px;
    padding: 7px;
    background-color: white;
    width: 45%;
    text-align: center;
    border-radius: 10px;
}

.search-bar:focus {
    color: black;
}

.selection-box {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.selection-box label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #fff;
}

.selection-box input[type="checkbox"] {
    margin-right: 10px;
}

.jewelry-content {
    display: flex;
}

.sort-sidebar {
    background-color:rgb(72, 71, 71);
    margin-top: 50px;
    flex: 1;
    margin-left: 20px;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.price-range {
    margin-bottom: 20px;
}

.jewelry-categories,
.display {
    margin-bottom: 20px;
}

.jewelry-content {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-card {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-details {
    padding: 10px;
    text-align: center;
}

.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

.scroll-btn {
    margin-bottom: 50px;
}