body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.dashboard {
    display: flex;
}

.main-container {
    flex: 1;
    transition: margin-left 0.3s;
    padding: 2rem;
}

.sidebar-open .main-container {
    margin-left: 200px;
}

.sidebar-close .main-container {
    margin-left: 50px;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content h1,
.main-content h2 {
    color: black;
}

.charts {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.charts > div {
    flex: 1;
    margin: 0 1rem;
}