.manager-auction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.manager-auction-header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.manager-auction-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
}

.manager-auction-main > div {
    margin-bottom: 20px;
    width: 100%;
}

button {
    margin-left: 10px;
}
